.view-collapse{
  visibility: visible;
  @media(max-width: 1100px){
    visibility: hidden;
    height: 0px;
    overflow-y: hidden;
  }
}

.view-collapse-invert{
  visibility: visible;
  @media(min-width: 1100px){
    visibility: hidden;
    height: 0px;
    overflow-y: hidden;
  }
}
