.map{
  background-color: grey;
  height: 400px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.map-container{
  height: 400px;
}
.map-panel{
  transform: translate(50px, -300px);
  width: 400px;
  height: 200px;
  border-radius: 0px;
  background-color: white;
  border: 0px;
  @media(max-width: 500px){
    transform: translate(0px, -380px);
  }
}

.map-header{
  font-size: 22px;
}

.map-nama,.map-alamat,.map-email,.map-waktu{
  font-size: 12px;
}
